# Logs
logs
*.logEntry
npm-debug.logEntry*
yarn-debug.logEntry*
yarn-error.logEntry*
pnpm-debug.logEntry*
lerna-debug.logEntry*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
